header {
  border-bottom: 1px solid #232323;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1130px;
  margin: 0 auto;
  padding: 26px 0 25px;
  color: var(--NAV-GRAY);
}

.header_divContentLeft {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  margin-right: 65px;
}

nav {
  display: flex;
  gap: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px; 
}

.header_span1,
.header_span2 {
  transition: all 0.3s ease;
  cursor: pointer;
}

.header_span1:hover,
.header_span2:hover {
  color: var(--NAV-GRAY-ACTIVE);
}

.header_divContentRight > button {
  border: 1px solid var(--NAV-GRAY);
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--NAV-GRAY);
  padding: 8px 22px 9px 21px;
  cursor: pointer;
}

