@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
  --GRAY: #F3F3F3;
  --NAV-GRAY: #5C5C5C;
  --NAV-GRAY-ACTIVE: #8c8c8c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://raw.githubusercontent.com/villalb4/Portfolio/main/src/images/background.jpg);
  font-family: 'Montserrat', sans-serif;
}